/*AGREGAR TIPO GRAFIA*/



body{
    width: 100%;
    min-height: 100vh;
    background: url(../img/pexels-ryan-west-1719648.jpg);
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    width: 90%;
    max-width: 1350px;
    margin: 8% auto;
    border: 1px solid #48ff00;
    background: #1e1f1e91;
    text-align: center;
    padding: 30px 30px 60px 30px;
    
}

h1{
    color: #ffffff;
    font-size: 60px;
}

p{
    color: skyblue;
    font-size: 22px;
}

button{
    background: transparent;
    border: 2px solid skyblue;
    padding: 12px 30px;
    margin: 10px;
    background: white;
    cursor: pointer;
}

button:hover{
    background: #000;
    color: skyblue;
    border: 2px solid #fff;
    border-radius: 8px;
}